body{
  background-color: antiquewhite;
  padding: 10;
  margin: 10;
  box-sizing: border-box;
}


h1{
  padding: 20px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 20px;
  text-align: center;
}

.images{
  width: 50%;
  height: 100%;
  margin: auto  ;
}

